* {
    font-family: "Georgia", serif;
    color: white;
}

h1 {
    font-size: 10em;
}

a {
    display: block;
}

body {
    background-image: url("http://www.an-axe-to-grind.com/attachment/25-jan-soucek/3_velika_iluze-6488px");
    background-size: cover;
}