* {
    font-family: "Georgia", serif;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;

body {
    background-image: url("http://www.an-axe-to-grind.com/attachment/25-jan-soucek/3_velika_iluze-6488px");
    background-position: right top;
    background-size: 60%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
